<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title></title>
  </head>
  <body>
    <header class="header">
      <div class="menu-container">
        <div class="menu__burger-logo-container">
          <button class="menu__burger-button">
            <img src="image/burger.svg" />
          </button>
          <a href="#" class="menu__logo">
            <img src="image/Group.svg" alt="Логотип" />
          </a>
        </div>

        <ul class="social">
          <li>
            <button class="social__call-button">
              <img src="image/call.svg" />
            </button>
          </li>
          <li>
            <button class="social__chat-button">
              <img src="image/chat.svg" />
            </button>
          </li>
          <li>
            <button class="social__profile-button">
              <img src="image/profile.svg" />
            </button>
          </li>
        </ul>

        <ul class="status-repair">
          <li>
            <button class="status-repair__repair-button">
              <span class="status-repair__repair-button-text"
                >Оставить заявку</span
              >
              <img src="image/repair.svg" />
            </button>
          </li>
          <li>
            <button class="status-repair__checkstatus-button">
              <span class="status-repair__checkstatus-button-text"
                >Статус ремонта</span
              >
              <img src="image/checkstatus.svg" />
            </button>
          </li>
        </ul>
      </div>
    </header>

    <main>
      <h2 class="main-title">Услуги и сервисы</h2>
      <nav class="nav">
        <ul class="nav__inner">
          <li>
            <a href="#repair-divices" class="nav__item">Ремонтируемые бренды</a>
          </li>
          <li>
            <a href="#add-services" class="nav__item"
              >Ремонтируемые устройства</a
            >
          </li>
          <li><a href="#price" class="nav__item">Цены на Услуги</a></li>
          <li>
            <a href="#addres" class="nav__item">Адреса сервисных центров</a>
          </li>
          <li>
            <a href="#special-price" class="nav__item">Специальные цены</a>
          </li>
          <li><a href="#feedback" class="nav__item">Отзывы</a></li>
        </ul>
      </nav>
      <section class="text-container">
        <div class="text-container__left">
          <p class="text-container__main-text">
            Мы являемся авторизованным сервисным центром по ремонту техники
            Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с
            официальной гарантией производителя.
          </p>

          <p class="text-container__main-text-hidden">
            Мы успешно работаем с 1992 года и заслужили репутацию надежного
            партнера
          </p>
          <p class="text-container__main-text-1120px">
            Мы успешно работаем с 1992 года и заслужили репутацию надежного
            партнера, что подтверждает большое количество постоянных клиентов.
            Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою
            очередь, советуют нас родным и близким.
          </p>

          <span class="text__read-more">
            <h4>Читать далее</h4>
          </span>
        </div>

        <img class="photo__img" src="image/Picture Copy.png" alt="Фото" />
      </section>
    </main>
  </body>
</html>
